In [119]:
import pandas as pd
from datetime import datetime
import pickle
import numpy as np

In [8]:
#내용이 많아서 시트 두개로 나뉘어짐
df = pd.read_excel("book_list_ustar.xlsx", sheet_name = 0)
df2 = pd.read_excel("book_list_ustar.xlsx", sheet_name = 1)

In [13]:
df_concat = pd.concat([df, df2])

In [106]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1149686 entries, 0 to 101684
Data columns (total 17 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   이용자ID   1149683 non-null  object
 1   등록번호    1149686 non-null  object
 2   서명      1149627 non-null  object
 3   대출유형    1149686 non-null  object
 4   대출일     1149686 non-null  int64
 5   소장처     1149686 non-null  object
 6   자료실     1149656 non-null  object
 7   청구기호    1149678 non-null  object
 8   대출도서관   1149686 non-null  object
 9   반납도서관   1149545 non-null  object
 10  별치기호    805331 non-null   object
 11  권호      682691 non-null   object
 12  소속도서관   1149680 non-null  object
 13  생일      1149680 non-null  float64
 14  성별      1149680 non-null  object
 15  나이      1149680 non-null  float64
 16  연령      1149680 non-null  float64
dtypes: float64(3), int64(1), object(13)
memory usage: 157.9+ MB

In [23]:
df_sorted = df_concat.sort_values(by="대출일", ascending=True)

In [25]:
#도서 분류 인덱싱
df_sorted["큰도서분류"]=df_sorted["청구기호"].str[:1]
df_sorted["도서분류"]=df_sorted["청구기호"].str[:2]

In [45]:
df_sorted["대출도서관"].value_counts()

원신흥도서관      295011
노은도서관       258108
유성도서관       140321
진잠도서관       111060
아가랑도서관      105671
구암도서관        98521
구즉도서관        97762
유성엑스포도서관     43159
Name: 대출도서관, dtype: int64

In [46]:
df_sorted

,이용자ID,등록번호,서명,대출유형,대출일,소장처,자료실,청구기호,대출도서관,반납도서관,별치기호,권호,소속도서관,생일,성별,나이,연령,큰도서분류,도서분류
0,13000019083742,ANM000087259,(피터 린치의) 이기는 투자,일반대출,20220102,노은도서관,종합자료실,327.8 린974ㅇ,노은도서관,노은도서관,NaN,NaN,구암도서관,19660214.0,남,57.0,50.0,3,32
3651,13000017050092,BEM000257730,"문방구 TV . 7 , 랭킹 대탐구",일반대출,20220102,유성도서관,어린이실,813.8 문589ㅁ v.7,유성도서관,유성도서관,아,v.7,유성도서관,19801120.0,여,43.0,40.0,8,81
3650,13000021042233,BEM000227523,"나, 이사 갈 거야",일반대출,20220102,유성도서관,어린이실,808.3 동916ㄴ v.8 c.2,유성도서관,유성도서관,아,v.8,유성도서관,20130912.0,여,10.0,10.0,8,80
3649,13000011005389,GWM000001239,Z 캠프 : 김영주 장편소설,일반대출,20220102,원신흥도서관,종합자료실,813.7 김683ㅈ,원신흥도서관,원신흥도서관,NaN,NaN,한밭도서관,19791128.0,남,44.0,40.0,8,81
3648,13000015079511,ANM000075893,"(제로니모의)환상모험 . 16 , 마르코 폴로의 위대한 모험",일반대출,20220102,노은도서관,어린이실,883 스233ㅎ v.16 c.3,노은도서관,노은도서관,아,v.16,노은도서관,20100429.0,남,13.0,10.0,8,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98766,13000022150993,GWM000043494,(학교에서 가르쳐 주지 않는) 못말리는 짱구의 신비한 정리정돈,일반대출,20221231,원신흥도서관,어린이자료실,199 우159ㅁ,원신흥도서관,원신흥도서관,아,NaN,원신흥도서관,19821201.0,남,41.0,40.0,1,19
98765,13000012041642,GWM000038934,마녀를 잡아라,일반대출,20221231,원신흥도서관,어린이자료실,843 달315ㅁ,원신흥도서관,원신흥도서관,아,NaN,한밭도서관,19790626.0,여,44.0,40.0,8,84
98764,13000012041642,GWM000012700,시끄러운 루시가 제일 좋아,일반대출,20221231,원신흥도서관,어린이자료실,853 크547ㅁ v.2,원신흥도서관,원신흥도서관,아,v.2,한밭도서관,19790626.0,여,44.0,40.0,8,85
98770,13000021136445,NM0000020959,테레사 : 버림받은 사람들의 어머니. 18,일반대출,20221231,노은도서관,어린이실,990.8 바159ㅇ 세계-18,노은도서관,노은도서관,아,세계-18,진잠도서관,20150204.0,여,8.0,0.0,9,99
101684,13000022189260,ANM000094681,(절대로 잃지 않는) 투자의 신,일반대출,20221231,노은도서관,종합자료실,327.04 박425ㅌ,노은도서관,노은도서관,NaN,NaN,노은도서관,19840222.0,남,39.0,30.0,3,32

In [42]:
#결측치 확인
df_sorted.isnull().sum()

이용자ID         0
등록번호          0
서명            0
대출유형          0
대출일           0
소장처           0
자료실          30
청구기호          0
대출도서관         0
반납도서관       141
별치기호     344321
권호       466945
소속도서관         0
생일            0
성별            0
나이            0
연령            0
큰도서분류         0
도서분류          0
dtype: int64

In [162]:
#결측치가 있는 인덱스 확인
df_sorted["큰도서분류"][df_sorted["큰도서분류"].isna()]

4145       NaN
8123       NaN
1043486    NaN
16179      NaN
15257      NaN
          ...
1043493    NaN
726827     NaN
726629     NaN
727699     NaN
1043483    NaN
Name: 큰도서분류, Length: 374, dtype: object

In [112]:
#결측치가 들어있는 행 전체 삭제
df_sorted.dropna(subset=["서명"], axis=0, inplace=True) #도서명이 없는 결측치 제거
df_sorted.dropna(subset=["이용자ID"], axis=0, inplace=True) #이용자ID가 없는 결측치 제거
df_sorted.dropna(subset=["청구기호"], axis=0, inplace=True) #청구기호가 없는 결측치 제거
df_sorted.dropna(subset=["소속도서관"], axis=0, inplace=True) #소속도서관가 없는 결측치 제거

# #특정 조건에서 행 삭제
# df_sorted.drop(df_sorted[df_sorted["나이"]==2023].index, inplace=True) #회원 정보가 없어서 나이가 2023으로 들어간 결측치 제거
# df_sorted.drop(df_sorted[df_sorted["성별"]==0].index, inplace=True) #성별 결측치 제거
# df_sorted.drop(df_sorted[df_sorted["성별"]=="기타"].index, inplace=True) #성별 결측치 제거
df_sorted.drop(df_sorted[df_sorted["큰도서분류"]=="아"].index, inplace=True) #도서분류 결측치 제거
df_sorted.drop(df_sorted[df_sorted["큰도서분류"]==" "].index, inplace=True) #도서분류 결측치 제거

In [43]:
df_jinjam = df_sorted[df_sorted["대출도서관"]=="진잠도서관"]
df_guarm = df_sorted[df_sorted["대출도서관"]=="구암도서관"]
df_noeun = df_sorted[df_sorted["대출도서관"]=="노은도서관"]
df_gujuk = df_sorted[df_sorted["대출도서관"]=="구즉도서관"]
df_akarang = df_sorted[df_sorted["대출도서관"]=="아가랑도서관"]
df_yuseong = df_sorted[df_sorted["대출도서관"]=="유성도서관"]
df_expo = df_sorted[df_sorted["대출도서관"]=="유성엑스포도서관"]
df_wonsin = df_sorted[df_sorted["대출도서관"]=="원신흥도서관"]

In [52]:
df_sorted["연령"].value_counts().sort_index()

0.0     189697
10.0    229403
20.0     31024
30.0    144978
40.0    410856
50.0     85895
60.0     38255
70.0     16319
80.0      2852
90.0       334
Name: 연령, dtype: int64

In [51]:
df_sorted["나이"].value_counts().sort_index()

0.0     2475
1.0      349
2.0     2150
3.0     4209
4.0     7109
        ...
90.0     100
92.0     117
93.0       1
94.0     114
95.0       2
Name: 나이, Length: 95, dtype: int64

In [50]:
df_sorted = df_sorted.replace({"나이" : 2023.0}, 0.0)
df_sorted = df_sorted.replace({"연령" : 2020.0}, 0.0)

In [120]:
def reduce_mem_usage(props):
    start_mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage of properties dataframe is :",start_mem_usg," MB")
    NAlist = [] # Keeps track of columns that have missing values filled in. 
    for col in props.columns:
        if props[col].dtype != object:  # Exclude strings
            
            # Print current column type
            #print("******************************")
            #print("Column: ",col)
            #print("dtype before: ",props[col].dtype)
            
            # make variables for Int, max and min
            IsInt = False
            mx = props[col].max()
            mn = props[col].min()
            
            # Integer does not support NA, therefore, NA needs to be filled
            if not np.isfinite(props[col]).all(): 
                NAlist.append(col)
                props[col].fillna(mn-1,inplace=True)  
                   
            # test if column can be converted to an integer
            asint = props[col].fillna(0).astype(np.int64)
            result = (props[col] - asint)
            result = result.sum()
            if result > 0.01:
                IsInt = True

            
            # Make Integer/unsigned Integer datatypes
            if IsInt:
                if mn >= 0:
                    if mx < 255:
                        props[col] = props[col].astype(np.uint8)
                    elif mx < 65535:
                        props[col] = props[col].astype(np.uint16)
                    elif mx < 4294967295:
                        props[col] = props[col].astype(np.uint32)
                    else:
                        props[col] = props[col].astype(np.uint64)
                else:
                    if mn > np.iinfo(np.int8).max:
                        props[col] = props[col].astype(np.int8)
                    elif mn > np.iinfo(np.int16).max:
                        props[col] = props[col].astype(np.int16)
                    elif mn > np.iinfo(np.int32).max:
                        props[col] = props[col].astype(np.int32)
                    elif mn > np.iinfo(np.int64).max:
                        props[col] = props[col].astype(np.int64)    
            
            # Make float datatypes 32 bit
            else:
                props[col] = props[col].astype(np.float32)
            
            # Print new column type
            #print("dtype after: ",props[col].dtype)
            #print("******************************")
    
    # Print final result
    print("___MEMORY USAGE AFTER COMPLETION:___")
    mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage is: ",mem_usg," MB")
    print("This is ",100*mem_usg/start_mem_usg,"% of the initial size")
    return props, NAlist

In [121]:
df_low, NAlist = reduce_mem_usage(df_sorted)

Memory usage of properties dataframe is : 175.41595458984375  MB
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  157.87435913085938  MB
This is  90.0 % of the initial size

In [123]:
df_sorted

,이용자ID,등록번호,서명,대출유형,대출일,소장처,자료실,청구기호,대출도서관,반납도서관,별치기호,권호,소속도서관,생일,성별,나이,연령,큰도서분류,도서분류
0,13000019083742,ANM000087259,(피터 린치의) 이기는 투자,일반대출,20220102,노은도서관,종합자료실,327.8 린974ㅇ,노은도서관,노은도서관,NaN,NaN,구암도서관,19660214,남,57.0,50.0,3.0,32.0
3651,13000017050092,BEM000257730,"문방구 TV . 7 , 랭킹 대탐구",일반대출,20220102,유성도서관,어린이실,813.8 문589ㅁ v.7,유성도서관,유성도서관,아,v.7,유성도서관,19801120,여,43.0,40.0,8.0,81.0
3650,13000021042233,BEM000227523,"나, 이사 갈 거야",일반대출,20220102,유성도서관,어린이실,808.3 동916ㄴ v.8 c.2,유성도서관,유성도서관,아,v.8,유성도서관,20130912,여,10.0,10.0,8.0,80.0
3649,13000011005389,GWM000001239,Z 캠프 : 김영주 장편소설,일반대출,20220102,원신흥도서관,종합자료실,813.7 김683ㅈ,원신흥도서관,원신흥도서관,NaN,NaN,한밭도서관,19791128,남,44.0,40.0,8.0,81.0
3648,13000015079511,ANM000075893,"(제로니모의)환상모험 . 16 , 마르코 폴로의 위대한 모험",일반대출,20220102,노은도서관,어린이실,883 스233ㅎ v.16 c.3,노은도서관,노은도서관,아,v.16,노은도서관,20100429,남,13.0,10.0,8.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98766,13000022150993,GWM000043494,(학교에서 가르쳐 주지 않는) 못말리는 짱구의 신비한 정리정돈,일반대출,20221231,원신흥도서관,어린이자료실,199 우159ㅁ,원신흥도서관,원신흥도서관,아,NaN,원신흥도서관,19821201,남,41.0,40.0,1.0,19.0
98765,13000012041642,GWM000038934,마녀를 잡아라,일반대출,20221231,원신흥도서관,어린이자료실,843 달315ㅁ,원신흥도서관,원신흥도서관,아,NaN,한밭도서관,19790626,여,44.0,40.0,8.0,84.0
98764,13000012041642,GWM000012700,시끄러운 루시가 제일 좋아,일반대출,20221231,원신흥도서관,어린이자료실,853 크547ㅁ v.2,원신흥도서관,원신흥도서관,아,v.2,한밭도서관,19790626,여,44.0,40.0,8.0,85.0
98770,13000021136445,NM0000020959,테레사 : 버림받은 사람들의 어머니. 18,일반대출,20221231,노은도서관,어린이실,990.8 바159ㅇ 세계-18,노은도서관,노은도서관,아,세계-18,진잠도서관,20150204,여,8.0,0.0,9.0,99.0
101684,13000022189260,ANM000094681,(절대로 잃지 않는) 투자의 신,일반대출,20221231,노은도서관,종합자료실,327.04 박425ㅌ,노은도서관,노은도서관,NaN,NaN,노은도서관,19840222,남,39.0,30.0,3.0,32.0

In [127]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1149606 entries, 0 to 101684
Data columns (total 19 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   이용자ID   1149606 non-null  object
 1   등록번호    1149606 non-null  object
 2   서명      1149606 non-null  object
 3   대출유형    1149606 non-null  object
 4   대출일     1149606 non-null  object
 5   소장처     1149606 non-null  object
 6   자료실     1149576 non-null  object
 7   청구기호    1149606 non-null  object
 8   대출도서관   1149606 non-null  object
 9   반납도서관   1149465 non-null  object
 10  별치기호    805286 non-null   object
 11  권호      682661 non-null   object
 12  소속도서관   1149606 non-null  object
 13  생일      1149606 non-null  object
 14  성별      1149606 non-null  object
 15  나이      1149606 non-null  int32
 16  연령      1149606 non-null  int32
 17  큰도서분류   1149606 non-null  int32
 18  도서분류    1149606 non-null  int32
dtypes: int32(4), object(15)
memory usage: 157.9+ MB

In [125]:
df_low.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1149606 entries, 0 to 101684
Data columns (total 19 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   이용자ID   1149606 non-null  object
 1   등록번호    1149606 non-null  object
 2   서명      1149606 non-null  object
 3   대출유형    1149606 non-null  object
 4   대출일     1149606 non-null  object
 5   소장처     1149606 non-null  object
 6   자료실     1149576 non-null  object
 7   청구기호    1149606 non-null  object
 8   대출도서관   1149606 non-null  object
 9   반납도서관   1149465 non-null  object
 10  별치기호    805286 non-null   object
 11  권호      682661 non-null   object
 12  소속도서관   1149606 non-null  object
 13  생일      1149606 non-null  object
 14  성별      1149606 non-null  object
 15  나이      1149606 non-null  float32
 16  연령      1149606 non-null  float32
 17  큰도서분류   1149606 non-null  float32
 18  도서분류    1149606 non-null  float32
dtypes: float32(4), object(15)
memory usage: 157.9+ MB

In [113]:
df_sorted['큰도서분류'].value_counts()

8    572988
3    138662
4    132717
9     79321
5     66473
7     54998
0     35623
1     34776
6     20365
2     13683
Name: 큰도서분류, dtype: int64

In [126]:
#특정 열은 int 형태로 변형
df_sorted = df_sorted.astype({"나이" : "int32"})
df_sorted = df_sorted.astype({"연령" : "int32"})
df_sorted = df_sorted.astype({"큰도서분류" : "int32"})
df_sorted = df_sorted.astype({"도서분류" : "int32"})
df_sorted = df_sorted.astype({"생일" : "str"})
df_sorted = df_sorted.astype({"대출일" : "str"})

In [101]:
df_sorted.to_pickle('all_book_list.pickle')

In [94]:
#날자 데이터는 형식 변경
df_sorted['생일'] = df_sorted['생일'].apply(lambda x: pd.to_datetime(str(x), format="%y%m%d"))
# df_sorted['대출일']= pd.to_datetime(df_sorted['대출일'])

ValueError: unconverted data remains: 0214

In [12]:
import pandas as pd
df_sorted = pd.read_pickle('./library_data/all_book_list_counted.pickle')

In [13]:
df_sorted

,이용자ID,등록번호,bookname,대출유형,대출일,소장처,자료실,청구기호,대출도서관,반납도서관,별치기호,권호,소속도서관,생일,성별,나이,연령,큰도서분류,도서분류,count
0,13000019083742,ANM000087259,(피터 린치의) 이기는 투자,일반대출,20220102,노은도서관,종합자료실,327.8 린974ㅇ,노은도서관,노은도서관,NaN,NaN,구암도서관,19660214,남,57,50,3,32,46
1,13000017050092,BEM000257730,"문방구 TV . 7 , 랭킹 대탐구",일반대출,20220102,유성도서관,어린이실,813.8 문589ㅁ v.7,유성도서관,유성도서관,아,v.7,유성도서관,19801120,여,43,40,8,81,28
2,13000021042233,BEM000227523,"나, 이사 갈 거야",일반대출,20220102,유성도서관,어린이실,808.3 동916ㄴ v.8 c.2,유성도서관,유성도서관,아,v.8,유성도서관,20130912,여,10,10,8,80,15
3,13000011005389,GWM000001239,Z 캠프 : 김영주 장편소설,일반대출,20220102,원신흥도서관,종합자료실,813.7 김683ㅈ,원신흥도서관,원신흥도서관,NaN,NaN,한밭도서관,19791128,남,44,40,8,81,2
4,13000015079511,ANM000075893,"(제로니모의)환상모험 . 16 , 마르코 폴로의 위대한 모험",일반대출,20220102,노은도서관,어린이실,883 스233ㅎ v.16 c.3,노은도서관,노은도서관,아,v.16,노은도서관,20100429,남,13,10,8,88,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149601,13000022150993,GWM000043494,(학교에서 가르쳐 주지 않는) 못말리는 짱구의 신비한 정리정돈,일반대출,20221231,원신흥도서관,어린이자료실,199 우159ㅁ,원신흥도서관,원신흥도서관,아,NaN,원신흥도서관,19821201,남,41,40,1,19,20
1149602,13000012041642,GWM000038934,마녀를 잡아라,일반대출,20221231,원신흥도서관,어린이자료실,843 달315ㅁ,원신흥도서관,원신흥도서관,아,NaN,한밭도서관,19790626,여,44,40,8,84,48
1149603,13000012041642,GWM000012700,시끄러운 루시가 제일 좋아,일반대출,20221231,원신흥도서관,어린이자료실,853 크547ㅁ v.2,원신흥도서관,원신흥도서관,아,v.2,한밭도서관,19790626,여,44,40,8,85,24
1149604,13000021136445,NM0000020959,테레사 : 버림받은 사람들의 어머니. 18,일반대출,20221231,노은도서관,어린이실,990.8 바159ㅇ 세계-18,노은도서관,노은도서관,아,세계-18,진잠도서관,20150204,여,8,0,9,99,2
1149605,13000022189260,ANM000094681,(절대로 잃지 않는) 투자의 신,일반대출,20221231,노은도서관,종합자료실,327.04 박425ㅌ,노은도서관,노은도서관,NaN,NaN,노은도서관,19840222,남,39,30,3,32,16

In [22]:
df_man1 = df_sorted[df_sorted["대출도서관"]=="원신흥도서관"]
df_man2 = df_sorted[df_sorted["대출도서관"]=="노은도서관"]
df_man3 = df_sorted[df_sorted["대출도서관"]=="진잠도서관"]
df_man4 = df_sorted[df_sorted["대출도서관"]=="아가랑도서관"]
df_man5 = df_sorted[df_sorted["대출도서관"]=="구암도서관"]
df_man6 = df_sorted[df_sorted["대출도서관"]=="구즉도서관"]
df_man7 = df_sorted[df_sorted["대출도서관"]=="유성엑스포도서관"]
df_man8 = df_sorted[df_sorted["대출도서관"]=="유성도서관"]

In [32]:
df_man8['큰도서분류'].value_counts().sort_index()

0     5453
1     4925
2     1883
3    18130
4    17733
5     9391
6     2751
7     5842
8    63422
9    10790
Name: 큰도서분류, dtype: int64

In [21]:
df_woman = df_sorted[df_sorted["성별"]=="여"]
df_woman['큰도서분류'].value_counts().sort_index()

0     19289
1     21611
2      7721
3     79439
4     72598
5     41343
6     11944
7     31006
8    348234
9     42666
Name: 큰도서분류, dtype: int64

In [18]:
df_sorted["큰도서분류"].value_counts()

8    572988
3    138662
4    132717
9     79321
5     66473
7     54998
0     35623
1     34776
6     20365
2     13683
Name: 큰도서분류, dtype: int64

In [174]:
df_man["큰도서분류"].value_counts().sort_index()

0     16851
1     14011
2      6472
3     60193
4     54716
5     25119
6     12787
7     23232
8    221842
9     36814
Name: 큰도서분류, dtype: int64

In [193]:
df_woman["큰도서분류"].value_counts().sort_index()

0     21486
1     23094
2      8891
3     83850
4     68122
5     41873
6     17683
7     30545
8    347024
9     44673
Name: 큰도서분류, dtype: int64

In [191]:
df_wonsin["큰도서분류"].value_counts().sort_index()
df_noeun["큰도서분류"].value_counts().sort_index()
df_jinjam["큰도서분류"].value_counts().sort_index()
df_akarang["큰도서분류"].value_counts().sort_index()
df_guarm["큰도서분류"].value_counts().sort_index()
df_gujuk["큰도서분류"].value_counts().sort_index()
df_expo["큰도서분류"].value_counts().sort_index()
df_yuseong["큰도서분류"].value_counts().sort_index()

0     166
1     335
2      96
3     861
4     214
5     358
6     176
7      82
8    1737
9     213
Name: 큰도서분류, dtype: int64

In [67]:
df_jinjam.to_excel('진잠도서관.xlsx', index=False)
df_guarm.to_excel('구암도서관.xlsx', index=False)
df_noeun.to_excel('노은도서관.xlsx', index=False)
df_gujuk.to_excel('구즉도서관.xlsx', index=False)
df_akarang.to_excel('아가랑도서관.xlsx', index=False)
df_yuseong.to_excel('유성도서관.xlsx', index=False)
df_expo.to_excel('유성엑스포도서관.xlsx', index=False)
df_wonsin.to_excel('원신흥도서관.xlsx', index=False)